* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat", sans-serif;
}

.app{
  background-image: url('./assets/cold.png');
  background-size: cover;
  background-position: bottom;
  transition: ease-out 0.4ms;

}

.app.warm {
  background-image: url('./assets/warm.png');
}

main{
  min-height: 100vh;
  background-image: linear-gradient(to bottom,);
}